.custom-button {
  width: 100%;
  padding: 14px 20px;
  border-radius: var(--border-radius);
  border: none;
  background-color: transparent;
  color: var(--font-color-primary);

  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  &:hover {
    background-color: var(--button-color-primary-hover);
  }
}
