.sidebar {
  grid-area: sidebar;
  width: 300px;
  transition: 0.2s;
  position: fixed;
  height: 100%;
  background-color: var(--sidebar-background);
  border-right: 1px solid var(--border-color);
  @media (max-width: 1024px) {
    width: 70px;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    color: var(--font-color-sidebar);
    font-size:15px;
    width: 100%;
    text-decoration: none;
    padding: 15px 20px;
    transition: .2s;
    .icon-component {
      stroke-width: 1.3;
      font-size: 20px;
      margin-right: 10px;
    }
    &:hover {
      color: rgb(255, 255, 255);
    }
    &.active {
      color: var(--font-color-active);
      background-color: rgba(0, 0, 0, 0.2);
      &:hover {
        cursor: default;
        color: var(--font-color-active);
      }
    }
  }

  .sidebar-title {
    display: flex;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    padding: 30px 20px;
    color: var(--font-color-secondary);
    font-weight: 300;
    letter-spacing: 0.5px;
  }
}
