@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Mona Sans", "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: 14px;
  --main-background: #071025;
  --card-background: #101935;
  --font-color-primary: #ffffff;
  --font-color-secondary: #6d7589;
  --button-color: #6c72fe;
  --border-color: #333B4E;
}

#root,
:root,
body {
  height: 100%;
  width: 100%;
  background-color: var(--main-background);

  color: var(--font-color-primary);
}
