@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Mona Sans", "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: 12px;
  --main-background: #071025;
  --card-background: #101935;
  --font-color-primary: #ffffff;
  --font-color-secondary: #7f89a2;
  --font-color-sidebar: rgb(174, 185, 225);
  /* --font-color-active: rgb(255, 54, 134); */
  --font-color-active: rgb(244, 168, 25);
  --button-color-primary: #792dca;
  --button-color-secondary: #212c4d;
  --button-color-primary-hover: #6022a3;
  --border-color: #333b4e;
  /* --border-color: #262d3c; */
  --border-radius: 4px;
  --box-shadow: 1px 1px 30px #040a17;
}

#root,
:root,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--main-background);
  color: var(--font-color-primary);
}

@keyframes sidebar-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
