@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "DM Sans", "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: 12px;
  --main-background: #13181f;
  --card-background: #171c26;
  --card-background-2: #1b212d;
  --sidebar-background: #171c26;
  --font-color-primary: #ffffff;
  --font-color-secondary: rgb(155, 166, 183);
  --font-color-sidebar: rgb(155, 166, 183);
  --font-color-active: rgb(127, 80, 255);
  --button-color-primary: rgb(127, 80, 255);
  --button-color-secondary: #212c4d;
  --button-color-primary-hover: rgb(106, 67, 213);
  --border-color: #292f3e;
  --border-radius: 3px;
  --box-shadow: 1px 1px 30px #040a17;
  --hover: rgba(15, 16, 18, 0.1);
  --grid-template-columns: 60px 60px 100px 160px 1fr 140px 120px 120px;
}

#root,
:root,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--main-background);
  color: var(--font-color-primary);
}

@keyframes sidebar-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
