.logs-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .pagination {
    justify-content: center;
  }
}
.logs {
  width: 100%;
  overflow-y: scroll;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin: 36px 0;
}

.logs-table {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: auto; */
  border: 1px solid green;
}

.logs-table-header {
  border: 1px solid magenta;
}

.log-item {
  border: 1px solid red;
}

.logs-toolbar {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 70px;
  width: 100%;
}
