.logs-table {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow-y: scroll;
  margin: 0 0 26px 0;
  font-size: 14px;
  font-family: "Ubuntu Mono";

  .log-row {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    color: var(--font-color-secondary);
    cursor: pointer;
    background-color: var(--card-background);
    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }
    &:hover {
      background-color: var(--hover) !important;
      color: white;
    }
    .log-item {
      height: 58px;
      display: flex;
      align-items: center;
      &.center {
        justify-content: center;
      }
    }
  }
  .fade {
    height: 0;
    transition: 0.3s;
    overflow: hidden;
    &.in {
      height: 200px;
    }
  }
}

.logs-table-header {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  background: rgb(19, 92, 201);
  background: linear-gradient(
    149deg,
    rgba(12, 66, 136, 0.2) 30%,
    rgba(107, 54, 255, 0.2) 100%
  );
  text-transform: uppercase;
  border-radius: var(--border-radius);
  font-weight: 500;
  div {
    height: 44px;
    display: flex;
    align-items: center;
  }
}

.logs-toolbar {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  min-height: 80px !important;
  width: 100%;
  margin: 0 0 26px 0;
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 0 26px;
}

.log-details {
  animation: show 0.3s ease-in-out 1;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--border-color);
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
