.search {
  width: 260px;
  height:36px;
  border:1px solid var(--border-color);
  display: flex;
  align-items: center;
  background-color: var(--card-background-2);
  border-radius: var(--border-radius);
  margin:26px;
  input {
    width:100%;
    height:100%;
    border:none;
    background-color: var(--card-background-2);
    padding:10px;
    color:white;
    outline: none;
  }
  input::placeholder {
    color:var(--font-color-secondary);
  }
  .icon {
    height: 100%;
    width:36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color:var(--font-color-secondary);
  }
}