.logo {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 40px 20px;
  font-size: 18px;
  font-weight: 500;
  .logo-and-text {
    display: flex;
    align-items: center;
    .logo-icon {
      display: flex;
      align-items: center;
      color: rgb(234, 175, 35);
      font-size: 24px;
      margin-right: 7px;
      stroke-width: 2;
      &.collapsed {
        cursor: pointer;
        font-size: 30px;;
        margin:0;
      }
    }
  }
  .sidebar-toggler {
    transform: rotate(90deg);
    margin-left: auto;
    stroke-width: 1.2;
    font-size: 18px;
    color: rgb(177, 177, 177);
    cursor: pointer;
  }
}
