.login {
  animation: appear 0.2s ease 1;
  width: 380px;
  height: 480px;
  padding: 36px;
  button {
    font-size: 15px;
    margin-top: 30px;
    background: rgb(69, 19, 201);
    background: linear-gradient(
      149deg,
      rgba(69, 19, 201, 1) 30%,
      rgba(103, 65, 208, 1) 100%
    );
    box-shadow: 1px 1px 2px 1px rgb(50, 2, 113);
  }
  label {
    color: var(--font-color-secondary);
    font-size: 14px;
    display: block;
    margin: 24px 0 10px 0;
  }
  .logo {
    padding: 0;
    font-size: 22px;
    .logo-and-text {
      .logo-icon {
        font-size: 34px;
      }
    }
  }
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
